.app.dark {
  --bg-color: #0e0e75;
  --primary-color: #057705;
  --secondary-color: #5db45d;
  --inverted-bg-color: #fcfcfc;
  --inverted-primary-color: #193aa9;
  --inverted-secondary-color: #3e5ef8;
}