.app.light {
  --bg-color: #dedcdc;
  --primary-color: #193aa9;
  --secondary-color: #3ba9da;
  --inverted-bg-color: #0e2d9b;
  --inverted-primary-color: #057705;
  --inverted-secondary-color: #5db45d;

}