@import 'reset';
@import './styles/themes/dark';
@import './styles/themes/normal';
@import './styles/variables/global';



.app {
  font: var(--font-m);
  background: var(--bg-color);
  color:var(--primary-color);
  min-height: 100vh;
}